<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          {% for f in site.data['faculty-registry'] %}
            {% assign role = f.role | downcase %}
            {% if role == "director" %}
              <li class="p-name">Director: 
              <a href="{{ site.baseurl }}/faculty/{{ f.ID }}/">{{ f.name }}</a>
              </li>
             {% endif %}
            {% endfor %}
          {% for f in site.data['faculty-registry'] %}
            {% assign role = f.role | downcase %}
            {% if role == "co-director" %}
              <li class="p-name">Co-director: 
              <a href="{{ site.baseurl }}/faculty/{{ f.ID }}/">{{ f.name }}</a>
              </li>
            {% endif %}
          {% endfor %}
  {%- if site.email -%}
    <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
  {%- endif -%}
</ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

    <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
        <p style="font-size: 0.9em; margin-top: 0.5em;">
          <a href="{{ site.github_url | default: 'https://github.com' }}">GitHub</a> • 
          <a href="{{ '/privacy/' | relative_url }}">Privacy Notice</a>
        </p>
      </div>
    </div>

  </div>

</footer>
