img.logo-left {
    display:inline-block;
    float: left;
    padding-right: 2rem;
    height: 200px;    
}

img.logo-right {
    display:inline-block;
    float: right;
    padding-right: 2rem;
    height: 200px;    
}

img.logo-centered {
    display:block;
    margin-left:auto;
    margin-right:auto;
    height: 200px;    
}
